<a href="https://colab.research.google.com/github/jgomezfl/AlgorithmsUN2022II/blob/circleci-project-setup/Quiz6/Quiz6_jgomezfl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group 10 Quiz 6


1.   John Freddy GÃ³mez
2.   Andres Fernando Rojas Pedroza
3.   Joseph Nicolay Sarmiento Molano

In [1]:
import pandas as pd  
  
# assign data of lists.  
data = {'LMA': [  400, 400, 400, 250, 250, 250,  100, 100, 100 ], 
        'SMA': [ 40, 25, 10, 40, 25, 10, 40, 25, 10] , 
        'R6M': [ -0.18944242871199768, -0.18944242871199768, -0.18944242871199768, -0.18944242871199768, -0.18944242871199768, -0.18944242871199768, 0.0044044089037426895, -0.10430467350459732,  -0.23064675973307408], 
        'R2Y': [ 0.33152533806056855, 0.2780854731019976, 0.19057519266149117, 0.30299164603797585, 0.24737756538875158, 0.1977363911131359, 0.0035241184041818908, -0.08366090009513862, -0.18554985381806166]}  
  

# Create DataFrame  
df = pd.DataFrame(data)  

df['AR'] = (df['R6M'] + df['R2Y'])/2

df = df.sort_values(by=['AR'], ascending=False)
  
df

   LMA  SMA       R6M       R2Y        AR
0  400   40 -0.189442  0.331525  0.071041
3  250   40 -0.189442  0.302992  0.056775
1  400   25 -0.189442  0.278085  0.044322
4  250   25 -0.189442  0.247378  0.028968
5  250   10 -0.189442  0.197736  0.004147
6  100   40  0.004404  0.003524  0.003964
2  400   10 -0.189442  0.190575  0.000566
7  100   25 -0.104305 -0.083661 -0.093983
8  100   10 -0.230647 -0.185550 -0.208098